*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("agenda.jpg");
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    font-size: 2rem;
    opacity: 80%;
}
main{
    max-width: 1400px;
    margin-left:auto;
    margin-right: auto;
    background-color:rgba(232,223,220);
    opacity: 80%;
    border-radius: 20px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap:5px;
}
form input{
    width: 500px;
    padding: 12px;
    border-radius: 10px;
    border:none;
}
form button{
    border-radius: 10px;
    padding: 12px;

}
#selectedElement{
    width: 200px;
    background-color:black;
    color:white;
    padding: 12px;

}
select{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: auto;
}
section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10vh;
    
}
section header{
    font-size: 2rem;
    opacity: 100%;
}

section p{
    display: flex;
    width: 100%;
    margin-top:10px;
    
}
.sec header{
    width: 100%;
}